[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0;
	background-color: #A1A9FF;
	align-items: center;
}

#background {
	display: none;
	position: fixed;
	opacity: 0.8;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;	
	z-index: 1;
}


.big-picture {
	display: none;
	position: fixed; 
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -300px;
    text-align: center;
    overflow: hidden;
    z-index: 100;
}

#list {
	list-style: none;
}

#list > li {
	display: flex;
	align-items: center;
	vertical-align: middle;
	margin: 10px 0 0 0;
	padding: 10px;
	background-color: #E8E8E8;
	border-radius: 5px;
}

.title {
	width: 250px;
	margin-left: 10px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

img[show-full-picture] {
	width: 50px;
	height: 50px;
}

.show {
	display: block;
}